<section id="welcome-hero" class="welcome-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="header-text">
                    <h2 class="animated fadeInUp" style="opacity: 0;">hi <span>,</span> i am <br> browny <br> star <span>.</span>   </h2>
                    <p class="animated fadeInUp" style="opacity: 0;">ui/ux designer and web developer</p>
                    <a href="assets/resume.pdf" class="animated fadeInDown" style="opacity: 0;">download resume</a>
                </div><!--/.header-text-->
            </div><!--/.col-->
        </div><!-- /.row-->
    </div><!-- /.container-->

</section>