<div class="container">
    <h1>Add Employee</h1>
    <form #addEmployeeForm="ngForm" (ngSubmit)="submitEmployee(addEmployeeForm)">
        <div class="mb-3">
            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" [(ngModel)]="empDetails.email" pattern=".*@[a-zA-Z0-9.-]*" required #emailVal="ngModel">
            <div *ngIf="emailVal.touched && emailVal.invalid && emailVal.errors">Please provide a email</div>
            <div *ngIf="emailVal.touched && emailVal.errors">Email is invalid</div>
            <!-- Invalid -> {{emailVal.invalid }}
            Errors -> {{emailVal.errors | json }} -->
        </div>

        <div class="mb-3">
            <label for="first_name">First Name</label>
            <input class="form-control" type="first_name" name="first_name" minlength="3" [(ngModel)]="empDetails.first_name" required #firstNameVal="ngModel">
            <div *ngIf="firstNameVal.touched &&  firstNameVal.invalid">Please provide a value for First Name</div>
            <!-- Invalid -> {{firstNameVal.invalid }}
            Errors -> {{firstNameVal.errors | json }} -->
        </div>
        <div class="mb-3">
            <label for="last_name">Last Name</label>
            <input class="form-control" type="last_name" name="last_name" [(ngModel)]="empDetails.last_name">
        </div>
        <div class="mb-3">
            <label for="salary">Salary</label>
            <input class="form-control" type="salary" name="salary" [(ngModel)]="empDetails.salary">
        </div>
        <div class="mb-3">
            <label for="department">Department</label>
            <input class="form-control" type="department" name="department" [(ngModel)]="empDetails.department" required #departmentVal="ngModel">
            <div *ngIf="departmentVal.touched && departmentVal.invalid">Please enter a Department</div>
        </div>
        <button type="submit" class="btn btn-primary">Add Employee</button>
    </form>
</div>


<!-- Create a component call it signIn
add email and password in 
attach the same sign form under app.component.html -->